# .NET
bin/
obj/
*.user
*.suo

# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/

# Sistema
.DS_Store
Thumbs.db

# Archivos multimedia locales
uploads/
media_storage/

# VS Code
.vscode/